@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }
}

@layer components {
  .max-width {
    @apply max-w-6xl mx-auto px-4;
  }

  .btn {
    @apply border-4 border-black rounded-md bg-primary-400 font-semibold;
  }

  .logo {
    @apply font-logo font-bold text-5xl;
  }
}
